@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('./assets/fonts/BarlowSemiCondensed-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BarlowSemiCondensed';
    src: url('./assets/fonts/BarlowSemiCondensed-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

:root {
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-400: hsl(264, 82%, 70%);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-50: hsl(300, 5%, 96%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    --font-medium: 500;
    --font-semibold: 600;

    --text-xs: 0.6875rem;
    --text-base: 0.8125rem;
    --text-lg: 1.25rem;

    --spacing-500: 2.5rem;
    --spacing-400: 2rem;
    --spacing-300: 1.5rem;
    --spacing-200: 1rem;
    --spacing-100: 0.5rem;
    --spacing-50: 0.25rem;

    --rounded-sm: 0.5rem;
    --rounded-full: 6.25rem;

    --max-testimonials-w-mobile: 19.0625rem;
    --max-testimonials-w-desktop: 69.635rem;

    --max-avatar-h: 1.75rem;
}

body {
    font-family: 'BarlowSemiCondensed', Helvetica, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    padding-block: 0;
    padding-inline: 0;
    box-sizing: inherit;
}

.font-medium { font-weight: var(--font-medium); }
.font-semibold { font-weight: var(--font-semibold); }

.text-xs {
    font-size: var(--text-xs);
    line-height: 110%;
    letter-spacing: 0;
}

.text-base {
    font-size: var(--text-base);
    line-height: 140%;
    letter-spacing: 0;
}

.text-base-2 {
    font-size: var(--text-base);
    line-height: 110%;
    letter-spacing: 0;
}

.text-lg {
    font-size: var(--text-lg);
    line-height: 120%;
    letter-spacing: 0;
}

.text-white { color: var(--white); }
.text-purple-50 { color: var(--purple-50); }
.text-grey-100 { color: var(--grey-100); }
.text-grey-200 { color: var(--grey-200); }
.text-grey-500 { color: var(--grey-500); }
.text-grey-400 { color: var(--grey-400); }

.bg-purple-500 { background-color: var(--purple-500); }
.bg-grey-500 { background-color: var(--grey-500); }
.bg-white { background-color: var(--white); }
.bg-dark-blue {background-color: var(--dark-blue);}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: clamp(73px, 19vw, 83px);
    background-color: var(--grey-50);
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-400);
    max-width: clamp(var(--max-testimonials-w-mobile), 81vw, var(--max-testimonials-w-desktop));
}

.testimonial {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    padding-block: var(--spacing-400);
    padding-inline: var(--spacing-400);
    border-radius: var(--rounded-sm);
}

.profile {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}

.name {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.avatar {
    width: auto;
    max-height: var(--max-avatar-h);
    border-radius: var(--rounded-full);
    border: 0.125rem solid transparent;
}

.border-purple-400 {
    border-color: var(--purple-400);
}

.border-purple-500 {
    border-color: var(--purple-500);
}

@media screen and (min-width: 48rem) {
    .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-1, .testimonial-4, .testimonial-5 {
        grid-column: 1/-1;
    }

    .testimonial-2, .testimonial-3 {
        grid-row: 2;
    }
}

@media screen and (min-width: 90rem) {
    .testimonials {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .testimonial {grid-column: auto; grid-row: auto;}

    .testimonial-1 {
        grid-column: 1/3;
    }

    .testimonial-3 {
        grid-row: 2;
    }

    .testimonial-4 {
        grid-column: 2/4;
    }
    
    .testimonial-5 {
        grid-row: 1/-1;
        grid-column: 4;
    }
}